.wrapper {
  min-height: 100vh;

  background: linear-gradient(to right, turquoise, teal red orange);
}

.task-table {
  background: rgba(red, green, blue, alpha);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.5);
}

body {
  background: teal;
}
